* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	text-transform: capitalize;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
body, html {
    height: 100%;
    margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}
#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 2rem 4rem;
	z-index: 1000;
	.fa-hamburger {
		font-size: 4rem;
		z-index: 10000;
		color: #000;
		cursor: pointer;
		display: none;
		
	}
	.logo {
		img {
			height: 5rem;
		}
	}
	nav {
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			list-style: none;
			li {
				margin-right: 4rem;
				a {
					color: #fff;
					font-size: 2rem;
					text-decoration: none;
					&:hover {
						color: #39382a;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.header-active {
	background: #1B651B;
	height: 6rem;
	-webkit-box-shadow: .2rem 0 .5rem #000;
	box-shadow: .2rem 0 .5rem #000;
	nav {
		ul {
			margin: 0;
		}
	}
}

#food {
    background-image: url('./randoms/almamatter.jpg');
    min-height: 100vh;
    padding-top: 3vh;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    .heading h1 {
        font-size: 5rem;
        color: #fff;
        padding-top: 6rem;
        margin-bottom: 2rem;
		text-align: center;
        
    }
    p {
        font-size: 2rem;
        color: #000; /* Set font color to white */
        text-align: center;
		img {
			max-width: 45%;
			height: auto;
			border: #000;
			border-style: outset;
		}
		
    }
    
    h2 {
        font-size: 4rem;
        color: #000;
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .container {
        width: 500px;
    }
}
button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
    background: #1B651B;
    color: #fff;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        height: 100%;
        width: 0%;
        -webkit-transition: .2s;
        transition: .2s;
        z-index: -1;
    }
}
#select{
    background-color: #fff;
    padding-bottom: 5rem;
    .heading h1{
        font-size: 5rem;
        color: #000;
        padding-top: 6rem;
        margin-bottom: 2rem;
        text-align: justify;
        margin-left: 20px;
    }
}
#diriel{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-style: solid;
		border-radius: 4%;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#lolaaidas{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
		color: #fff;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#jenni{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
		
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#siomai{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#lola{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#pazzyon{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#unli{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#gandas{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#bj{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#icecream{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#bakery{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#streetfood{
	background-color: #537B2F;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#kakanin{
	background-color: #8DA750;
	display: flex;
	justify-content: center;
	padding-top: 8rem;
	padding-bottom: 40rem;
	padding-left: 5rem;
	h2{
		font-size: 5rem;
        color: #fff; /* Set font color to white */
        text-align: left;
		padding-left: 5%;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	img{
		max-width: 365px;
		height: auto;
		border-radius: 4%;
		border-style: solid;
		color: #fff;
	}
	p{
		font-size: 2rem;
        color: #000; /* Set font color to white */
		text-align: justify;
		padding-left: 5%;
		padding-right: 20%;
	}
}
#dish {
    min-height: 100vh;
    width: 100vw;

    .heading {
        h1 {
            font-size: 4rem;
            color: #000;
            padding-top: 7rem;
            margin-bottom: 2rem;
            span {
                color: #1B651B;
            }
        }
    }
    .box-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 1rem auto;
        width: 90%;
        .box {
            height: 20rem;
            width: 25rem;
            border-radius: .5rem;
            margin: 2rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            -webkit-box-shadow: 0 0 .5rem #333;
            box-shadow: 0 0 .5rem #333;
            img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
            .info {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(51, 51, 51, 0.6);
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-flow: column;
                flex-flow: column;
                color: #fff;
                -webkit-transform: scale(0);
                transform: scale(0);
                h3 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                    color: #fff;
                    border-bottom: 0.2rem solid #1B651B;
                    border-top: 0.2rem solid #1B651B;
                    margin: 1rem 2rem;
                }
                button {
                    outline: none;
                    border: none;
                    border-radius: 5rem;
                    color: #333;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: capitalize;
                    letter-spacing: .2rem;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    height: 4rem;
                    width: 14rem;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #1B651B;
                        height: 100%;
                        width: 0%;
                        -webkit-transition: .2s;
                        transition: .2s;
                        z-index: -1;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
            &:hover {
                .info {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
} 

#footer {
	background: #333;
	h1 {
		font-size: 2rem;
		margin: 0;
		padding: 2rem 0;
		text-align: center;
		color: #fff;
		span {
			color: #1B651B;
		}
	}
	.brand {
		text-align: center;
		margin-top: 2rem;
		a {
			.logo {
				img {
					height: 4rem;
				}
			}
		}
		.icons {
			a {
				font-size: 2rem;
				margin: 2rem 1rem;
				color: #fff;
				&:hover {
					color: #1B651B;
				}
			}
		}
	}
	.footer-links {
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		margin: 1rem 0;
		h3 {
			font-size: 2.2rem;
			color: #1B651B;
		}
		li{
			list-style: none;
		}
		a {
			color: #fff;
			font-size: 1.7rem;

			text-decoration: none;
			&:hover{
				color: #1B651B;
				&::before{
					color: #fff;
				}
			}
		}
	}
	.letter {
		h2 {
			font-size: 2rem;
			margin: 2rem 0;
			color: #fff;
		}
		input[type="text"] {
			border: .2rem solid #fff;
			outline: none;
			background: none;
			height: 4rem;
			width: 22rem;
			padding: 0 1rem;
			font-size: 1.3rem;
			color: #fff;
		}
		input[type="submit"] {
			outline: none;
			border: none;
			border-radius: 5rem;
			color: #333;
			font-size: 1.6rem;
			font-weight: bold;
			text-transform: capitalize;
			letter-spacing: .2rem;
			cursor: pointer;
			position: relative;
			z-index: 1;
			overflow: hidden;
			height: 4rem;
			width: 12rem;
			margin: 1rem 0;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: #1B651B;
				height: 100%;
				width: 0%;
				-webkit-transition: .2s;
				transition: .2s;
				z-index: -1;
			}
			&:hover {
				&::before {
					width: 100%;
				}
				color: #333;
				background: #1B651B;
			}
		}
	}
}
.fa-times {
	-webkit-transform: skew(-180deg) rotate(180deg);
	transform: skew(-180deg) rotate(180deg);
}
.blog-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.blog-card {
    background-color: #fff;
    border-radius: 8px;
    border-style: outset;
    border-color: #1B651B;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.blog-card:hover {
    transform: scale(1.05);
}

.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust the height of the fade effect as needed */
    background: linear-gradient(transparent, #f9f9f9); /* Adjust the colors as needed */
}

.blog-image img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.blog-content {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;

}
p {
	font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: #000;
	line-height: 1.6;
	margin: 0;
}
a{
    text-decoration: none;
}
.box {
    background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-height: 200px; /* Set a maximum height for the box */
	overflow: hidden;  /* Hide content that exceeds the box height */
	position: relative;
}

.blog-card:hover .blog-content {
    transform: rotateY(0deg);
}

@media (max-width: 768px) {
	html {
		font-size: 40%;
	}
	#header {
		.fa-hamburger {
			display: block;
		}
		nav {
			position: fixed;
			top: 0;
			left: -120%;
			height: 100vh;
			width: 35rem;
			background: #fff;
			ul {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column;
				flex-flow: column;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				height: 100%;
				li {
					margin: 2rem 0;
					a {
						font-size: 3.5rem;
						color: #000;
						border-radius: 5rem;
						&:hover {
							padding: .5rem 7.5rem;
							color: #333;
							background: #000;
							color: #1B651B;
						}
					}
				}
			}
		}
		.nav-toggle {
			left: 0%;
		}
	}
	#about {
		.image {
			text-align: center;
			img {
				width: 70vw;
				max-width: 100%; /* Ensures the image won't exceed its original size */
				height: auto;   /* Maintains the aspect ratio */
			}
		}
	}
	#diriel {
		.image {
			text-align: center;
			img {
				width: 55vw;
				max-width: 100%; /* Ensures the image won't exceed its original size */
				height: auto;   /* Maintains the aspect ratio */
			}
		}
	}

}
